@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009;
}
.header {
	font-size: 16px;
	font-weight: bold;
	color: #009;
	/*	background-image: url(../_img/header.gif);
	background-repeat: no-repeat;
	height: 100px;
	width: 900px; */
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	height: 15px;
	background-color: #FFFFCC;
	padding: 3px;
}
#down_msg {
	text-align: center;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
#down_msg strong{
	font-size: 18px;
	font-weight: bold;
}
#top_nav {
	padding-top: 5px;
	padding-bottom: 5px;
}
#main {
	border: 1px solid #000000;
}
#content {
	padding: 5px;
	text-align: justify;
	vertical-align: top;
	height: 400px;
}
#nav {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 170px;
	line-height: 30px;
}
#nav .link {
	background-image: url(../_img/nav_link.gif);
	height: 33px;
}
#nav .active {
	background-image: url(../_img/nav_active.gif);
	color: #1947A3;
	height: 33px;
}
#nav .navlink {
	color: #F90;
	text-decoration: none;
	display: block;
}
#nav .navactive {
	color: #1947A3;
	text-decoration: none;
	display: block;
}
marquee {
	font-size: 18px;
	font-weight: bold;
	color: #F90;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
}
.paragraph_break {
	font-size: 24px;
	font-weight: bold;
	color: #F90;
	background-image: url(../_img/break.gif);
	height: 32px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 24px;
}
.paragraph_break_x2 {
	font-size: 24px;
	font-weight: bold;
	color: #F90;
	background-image: url(../_img/break_x2.jpg);
	height: 62px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 24px;
}
.grow_up {
	background-image: url(../_img/when_grow_up.jpg);
	height: 52px;
	color: #F90;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
}
.team_head {
	font-size: 14px;
	font-weight: bold;
	color: #F90;
	background-image: url(../_img/team_head.jpg);
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
	width: 361px;
}
.quote {
	font-size: 14px;
	font-weight: bold;
	color: #F90;
	background-image: url(../_img/when_grow_up.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #0B204B;
	padding: 10px;
	vertical-align: top;
	min-height: 125px;
}
#maillist input[type=text] {
	margin: 2px;
	width: 160px;
	background-color: #8CBAFF;
	border: 1px solid #006;
	color: #006;
}
#maillist input[type=submit] {
	width: 75px;
	padding: 2px;
	background-color: #3F6;
	border: 1px solid #006;
	color: #006;
}
#maillist input[type=submit]:hover {
	background-color: #FF359A;
}
#feedback input[type=text] {
	width: 300px;
	margin-left: 10px;
	padding: 2px;
	background-color: #8CBAFF;
	border: 1px solid #006;
	color: #006;
}
#feedback textarea {
	margin-left: 10px;
	padding: 2px;
	width: 300px;
	background-color: #8CBAFF;
	border: 1px solid #006;
	color: #006;
}
#feedback input[type=submit] {
	width: 100px;
	padding: 2px;
	margin-right: 50px;
	background-color: #3F6;
	border: 1px solid #006;
	color: #006;
}
#feedback input[type=submit]:hover {
	background-color: #FF359A;
}
.home_welcome {
	font-size: 36px;
	font-weight: bold;
	color: #F90;
	height: 32px;
	padding-left: 5px;
	padding-right: 5px;
}
#home_big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #009;
	font-weight: bold;
}
.home_orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #F90;
	font-weight: bold;
}
#home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #009;
	font-weight: bold;
}
#home_welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #009;
	font-weight: bold;
}
.left_pad {
	padding-left: 15px;	
}
#pages .input{
	font-size: 16px;
	border: 1px solid #006;
	font-weight: bold;
	padding: 2px;
	width: 890px;
}
#buttons input{
	font-size: 16px;
	border: 2px solid #006;
	font-weight: bold;
	padding: 2px;
	color: #006;
}